{% extends 'base.html.twig' %}


{% block title %} Mon profil {% endblock %}

{% block body %}

    <div>
{{ form_start(participantForm) }}

    {{ form_widget(participantForm) }}
    <button> Enregistrer </button>


        {{ form_end(participantForm) }}
</div>
{% endblock %}



