body {
    font-family: Montserrat, sans-serif;
    background: linear-gradient(-45deg, #fae6b1, #ffa101, #83dee5, #31525b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.flex_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_between{
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.link_button{

    border: 2px solid blueviolet;
    margin: 5px;
    padding: 5px;
    border-radius: 30% 5%;
}
.checkbox{
    border: 2px;
    margin: 5px;
    padding: 5px;
}
.remember {
    display: block;
    padding-left: 20px;
    text-indent: -25px;

}
._remember_me {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.DS{
    text-align: center;
}

.tab{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 17em;
    margin-top: 3em;
}

.partie1 {
    flex-direction: row;
    line-height:2;
    display: grid;
    gap: 10px 2em;
    align-content: center;

}

.partie2{
    flex-direction: row;
    line-height:2;
    display: grid;
    gap: 10px 2em;

}

.tableParticipants{
    width: 20em;
    margin-right: 10em;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 10em;
    min-width: 5em;
}
.imgProfil{
    margin-right: 150em;
    vertical-align:top;
    max-width: 100em;
    min-width: 200em;
}

.profilShow{
    float:right;
}

.ensembleShow{
    align-content: center;
    display: grid;
    width: 50em;
    grid-template-columns: 300px 300px 300px;
    line-height:2;
    align-items: start;
    justify-content: space-between;
}

.ensembleModifP{
    align-content: center;
    display: grid;
    width: 50em;
    grid-template-columns: 300px 300px 300px;
    align-items: start;
    justify-content: space-between;
}

.textModifP{
    float:right;
    width: 80em;
}

.imgModifP{
    margin-right: 150em;
    vertical-align:top;
    max-width: 100em;
    min-width: 200em;
}



.ensembleAffiche{
    display: grid;
    width: 50em;
    grid-template-columns: 300px 300px 300px;
    align-items: start;
    justify-content: space-between;
}




h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}



nav li {
    margin-right: 1rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
}


.scroll tbody {
    display:block;
    max-height:25em;
    overflow-y:auto;
}

.scroll thead {
    display: block;
}

.scroll td, .scroll th
{
    width: 100vh;

}

.tableParticipants{
    margin-top: 5em;
}

/********************** Module  5  Doctrine   **************************/

.series-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.serie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

}

.serie-details-infos > div {
    margin-bottom: 1rem;
    padding-left: 5px;
}

@media screen and (min-width: 700px) {
    .serie-details {
        grid-template-columns: 300px 1fr;
    }
}

/*********************** Module 6 Form ******************************/

label {
    display: block;
}

input,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 200px;
    max-width: 50%;
}

textarea{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
}

/*************************** Module 6 Flash *******************************/

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: chartreuse;
}

.flash-error {
    background-color: red
}

.flash-warning {
    background-color: orangered;
}

/************************** Module 7 Relations *****************************************/


.seasons article {
    display: flex;
    margin-bottom: 1rem;
}

.seasons article img {
    max-height: 200px;
    margin-right: 0.6rem;
}

.seasons{
    margin-top: 15px;
}

.error ul li {
    list-style: none;
    color: red;
}
