<nav>
    <ul>
        <li><a href="{{ path('outing_list') }}">Accueil</a></li>
        <li><a href="{{ path('participant_update') }}">Mon profil</a></li>
        <li><a href="{{ path('outing_add') }}">Créer une sortie</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</nav>