<nav>
    <ul>
        <li><a href="{{ path('outing_list') }}">Accueil</a></li>
        <li><a href="">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</nav>